.imgs{
    max-width: 20rem;
    max-height: 40rem;
    margin-left: 10rem;
}
html{
    font-size: 62.5rem;
 }
.container{
    margin-top: 5rem;
    display: flex;
    padding: 1rem;
}
.left-container, .right-container {
    flex: 1;
    padding: .8rem;
    border: .1rem solid #ccc;
  }

.h1{
    font-size: 2rem;
}